{{- if (eq .chezmoi.osRelease.id "fedora") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# Install repos
sudo -E dnf install -y https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

sudo -E dnf install -y dnf-utils

# Install vivaldi repo
sudo dnf config-manager --add-repo https://repo.vivaldi.com/archive/vivaldi-fedora.repo

# Install vscode repo
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'



echo "updating packages"
{{   if ne .chezmoi.username "root" -}}
sudo -E dnf update
sudo -E dnf upgrade -y
{{   else -}}
dnf update
dnf upgrade -y
{{   end -}}

echo "Installing global linux apps (native + WSL)"
sudo -E dnf install -y \
  ack \
  age \
  android-tools \
  ansible \
  bat \
  curl \
  curl \
  docker \
  duf \
  fish \
  fish \
  fzf \
  fontconfig \
  git \
  gh \
  htop \
  lsd \
  neovim \
  rpmfusion-nonfree-release-tainted \
  dnf-plugins-core \
  nfs-utils \
  nmap \
  python-pip \
  ripgrep \
  starship \
  syncthing \
  tree \
  unzip \
  util-linux-user \
  wget \
  snapd \
  dnf-plugin-snapper \
  'google-roboto*' \
  zoxide


aur_packages=(
  topgrade
  flux-bin
  talosctl
  velero-bin
  rpi-imager-bin
  go-task-bin
  mqtt-explorer-appimage
)

# Desktop utils
packages+=(
  # dbeaver
)


echo "Installing apps for native linux only (GUI apps etc)"
{{- if and (eq .chezmoi.os "linux") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
sudo -E dnf install -y \
  code \
  discord \
  gimp \
  gnome-extensions-app \
  gnome-tweaks \
  vivaldi-stable \


# flatpack installs
sudo -E flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

flatpak install -y flathub com.spotify.Client
flatpak install -y net.cozic.joplin_desktop
flatpak install -y flathub com.valvesoftware.Steam
flatpak install -y com.prusa3d.PrusaSlicer
flatpak install -y com.github.PintaProject.Pinta
flatpak install -y org.raspberrypi.rpi-imager
flatpak install -y io.dbeaver.DBeaverCommunity
flatpak install -y io.dbeaver.DBeaverCommunity.Client.psql
flatpak install -y io.dbeaver.DBeaverCommunity.Client.mariadb

#snap installs
sudo snap install auto-cpufreq
#sudo auto-cpufreq --install
{{- end -}}

echo -e "\033[0;32m>>>>> Finish Setting Up Arch Linux Packages <<<<<\033[0m"
echo -e "\033[0;32m>>>>> Add user to docker group (Req. sudo) <<<<<\033[0m"
sudo usermod -aG docker $USER
echo -e "\033[0;32m>>>>> Logout/Login required to catch new user permissions  <<<<<\033[0m"


# Install automatic updates
sudo -E dnf install dnf-automatic

sudo -E systemctl enable --now dnf-automatic.timer
{{  end -}}
