#!/bin/bash

# Define colors
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
RED='\033[0;31m'
NC='\033[0m' # No Color

# Function to print a message with a color
print_msg() {
	local msg=$1
	local color=$2
	echo -e "${color}${msg}${NC}"
}

# Name of the file containing the list of packages
{{ if (eq .chezmoi.osRelease.id "fedora") -}}
print_msg "Detected Fedora, triggering update" $GREEN
PACKAGE_FILE="{{ .chezmoi.homeDir }}/.config/.chezmoi_packages/fedora.txt"
# {{ .chezmoi.homeDir }}/.config/.chezmoi_packages/fedora.txt hash: {{ include "dot_config/dot_chezmoi_packages/fedora.txt" | sha256sum }}


sudo dnf upgrade
{{ end -}}

print_msg "Starting {{ .chezmoi.osRelease.prettyName }} package installation..." $GREEN

# Print a message to indicate that the script is starting
print_msg "Starting package installation... $PACKAGE_FILE" $GREEN

packages=""

# Loop over each package name and create one big list
while read package; do
  packages="$packages $package"
done < "$PACKAGE_FILE"

# Install all packages using dnf
if [[ -n "$packages" ]]; then
  print_msg "Installing packages: $packages..." $YELLOW
  sudo dnf install -y $packages
fi

# Print a message to indicate that the script is finished
print_msg "All packages installed successfully!" $GREEN
