{{- if or (eq .chezmoi.os "linux") -}}

#!/bin/sh

# dconf load /org/gnome/desktop/wm/keybindings/ < {{ .chezmoi.sourceDir }}/private_dot_config/private_dconf/keybindings
dconf load /org/gnome/desktop/interface/ < {{ .chezmoi.sourceDir }}/private_dot_config/private_dconf/interface
# dconf load /org/gnome/desktop/input-sources/ < {{ .chezmoi.sourceDir }}/private_dot_config/private_dconf/input-sources

{{- end -}}