#!/bin/bash

# linux: install bitwarden and related auth tools
{{- if (eq .chezmoi.os "linux") -}}
sudo pacman -S jq git wget gnupg gnupg2 bitwarden-cli -y
{{ end -}}

printf 'Checking if logged into Bitwarden...\n'

bw config server https://vault.trux.dev
bw login --check > /dev/null 2>&1
logged_in=$?

if test $logged_in -eq 0
then
  printf 'Bitwarden is logged in.\n'
else
  printf '\nYou need to login and unlock your BitWarden vault and re-run chezmoi apply.\n'
  printf 'You can login and unlock your vault by running the command:\n'
  printf '\n    export BW_SESSION=$(bw login --raw "{{ .bw_email }}")    \n\n'
  printf 'When you are done with chezmoi, LOCK YOUR BITWARDEN with the command:\n'
  printf '\n    bw lock    \n\n'
  exit 1
fi

printf 'Checking if Bitwarden vault is unlocked...\n'

bw unlock --check > /dev/null 2>&1
bw_unlocked=$?

if test $bw_unlocked -eq 0
then
  printf 'Looks like your Bitwarden vault is unlocked.\n'
else
  printf '\nYou need to unlock your BitWarden vault and re-run chezmoi apply.\n'
  printf 'You can unlock your vault by running the command:\n's
  printf '\n    export BW_SESSION=$(bw unlock --raw)    \n\n'
  printf 'When you are done with chezmoi, LOCK YOUR BITWARDEN with the command:\n'
  printf '\n    bw lock    \n\n'
  exit 1
fi

echo 'Finished Bitwarden setup.'