{{ if (eq .chezmoi.os "linux") -}}

pkg update
pkg upgrade

pkg install \
git \
curl \
wget \
zip \
unzip \
k9s \
kubectl \
helm \
python \
jq \
grep \
htop \
httping \
dnsutils \
nmap \
ffmpeg \
nvim \
fish
screenfetch \
ddgr \
cowsay \
openssh\
{{ end -}}
