
#QOL
abbr g git
abbr gp git p
abbr gpll git pull
abbr gc git c -s
abbr ccd chezmoi cd
abbr cap chezmoi apply
abbr cup chezmoi update
abbr cec chezmoi edit-config
abbr ce chezmoi edit

# Weather!
alias wttrv1 "curl wttr.in"
alias wttrv2 "curl v2.wttr.in"
alias wttr wttrv2

# Get me outta here
alias ":q" exit
alias x exit
alias q exit


# Easy upward navigation
alias ..="cd .."
alias ...="cd ../../../"
alias ....="cd ../../../../"
alias .....="cd ../../../../../"
alias cd..=".."
