sourceDir: {{ .chezmoi.sourceDir | quote }}

encryption: "age"
age:
    identity: "/home/nat/.config/sops/age/keys.txt"
    recipient: "age12kzuwvvedndehkke84apwamungqrcavf2khwjvd46f6lkq0wqq5q3s3vth"

data:
  name: "Nat Allan"
  email: "admin@natallan.com"
  sync_dir: "{{ .chezmoi.sourceDir }}/private_dot_synctarget"