{{- if (eq .chezmoi.os "linux") -}}
#!{{ lookPath "bash" }}

echo "-----"
echo "Manual installs for now"
echo ""
echo "add to /etc/default/grub.conf"
echo "GRUB_CMDLINE_LINUX+=nvme_core.default_ps_max_latency_us=0 amd_cpufreq.cppc_enable=1 default_hugepagesz=1G hugepagesz=1G hugepages=32 pcie_aspm=off delayacct"
echo ""
echo "add fastestmirror, deltarpm and concurrent to dnf.conf"
echo "and check for automatic update settings"
#echo 'fastestmirror=1' | sudo tee -a /etc/dnf/dnf.conf
#echo 'max_parallel_downloads=10' | sudo tee -a /etc/dnf/dnf.conf

# Disable wifi powersaver
#sudo tee /etc/NetworkManager/conf.d/00-wifi-powersave.conf << EOF > /dev/null
# [connection]
# wifi.powersave=2
# EOF
# sudo systemctl restart NetworkManager.service
# add sleep for e14
# edit crontab -e
# @reboot sudo rtcwake -m mem -s 2
{{ end -}}
