Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519

Host 10.*
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no

host prusa
 hostname prusa.{{ .internal_domain }}
 port 22
 user truxnell

host hyperion
 hostname hyperion.{{ .internal_domain }}
 port 33322
 user durandal

host unifi
 hostname unifi.{{ .internal_domain }}
 port 22
 user root
 HostkeyAlgorithms +ssh-rsa
 PubkeyAcceptedAlgorithms +ssh-rsa
